
<!-- section -->
<div class="section">
  <!-- container -->
  <div class="container">

    <app-top-post-row></app-top-post-row>

    <app-recent-posts></app-recent-posts>

    <app-main-block></app-main-block>

  </div>
  <!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section section-grey">
  <!-- container -->
  <div class="container">
    <app-featured-posts></app-featured-posts>
  </div>
  <!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <app-bottom-block></app-bottom-block>
  </div>
  <!-- /container -->
</div>
<!-- /section -->


