<div class="container">
  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <form action="" method="POST">

        <div class="form-group">
          <label for="category">Category <span class="require">*</span></label>
          <p-dropdown [options]="categories" [(ngModel)]="post.category"
                      placeholder="Select a Category" [style]="{'width':'100%'}" id="category" name="category"
                      class="form-control"></p-dropdown>
        </div>

        <div class="form-group">
          <label for="title">Title <span class="require">*</span></label>
          <input type="text" class="form-control" [(ngModel)]="post.title" name="title" id="title"/>
        </div>

        <div class="form-group">
          <label for="body">Post body</label>
          <!--<textarea rows="5" class="form-control" id="body" name="body" ></textarea>-->
          <p-editor [(ngModel)]="post.body" name="body" id="body" [style]="{'height':'320px'}" ></p-editor>
        </div>

        <div class="form-group has-error">
          <label for="tags">Tags <small>(Write tag and hit 'Enter')</small></label>
          <p-chips [(ngModel)]="post.tags" id="tags" name="tags"></p-chips>
<!--          <span class="help-block">Field not entered!</span>-->
        </div>

        <div class="form-group">
          <p><span class="require">*</span> - required fields</p>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="save()">
            Create
          </button>
          <button class="btn btn-default">
            Cancel
          </button>
        </div>

      </form>
    </div>

  </div>
</div>
