<div class="container">
  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <form action="" method="POST">

        <div class="form-group">
          <label for="category">Category <span class="require">*</span></label>
          <p-dropdown [options]="categories" [(ngModel)]="selectedCategory"
                      placeholder="Select a Category" filter="true"
                      [style]="{'width':'100%'}"
                      id="category" name="category"
                      (onChange)="bindCategory($event)"></p-dropdown>
        </div>

        <div class="form-group">
          <label for="title">Title <span class="require">*</span></label>
          <input type="text" class="form-control" [(ngModel)]="post.title" name="title" id="title"/>
        </div>

        <div class="form-group">
          <label for="body">Post body <span class="require">*</span></label>
          <p-editor [(ngModel)]="post.body" name="body" id="body" [style]="{'height':'320px'}" ></p-editor>
        </div>

        <div class="form-group" [hidden]="!hasOldImage()">
          <label for="tags">Current image <small>(will be replaced if you upload new image)</small></label>
          <img src="{{imageURL}}" height="100px"/>
        </div>
        <div class="form-group">
          <label for="tags">Main image <small>(Will be displayed on top of the page and on the post card)</small></label>
          <p-fileUpload name="file" url="uploadURL" auto="auto" customUpload="true" (uploadHandler)="fileUploader($event)" accept="image/*"></p-fileUpload>
        </div>

        <div class="form-group">
          <label for="tags">Tags <small>(Write tag and hit 'Enter')</small></label>
          <p-chips [(ngModel)]="post.tags" id="tags" name="tags"></p-chips>
        </div>

        <div class="form-group">
          <p><span class="require">*</span> - required fields</p>
        </div>

        <input type="hidden" [(ngModel)]="post.imageFileName" name="imageFileName"/>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="save()">
            Save
          </button>
          <button class="btn btn-default" (click)="cancel()">
            Cancel
          </button>
        </div>

      </form>
    </div>

  </div>
</div>
